body{
  margin: 0;
  padding: 0;
}

.container {
  margin-bottom: 30px;
}

.container h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.container p {
  margin-bottom: 30px;
}

.container .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.container .active, .accordion:hover {
  background-color: #ccc; 
}

.container .panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.container .panel p {
  padding: 15px;
  text-align: justify;
}